:root{
  --lwt-accent-color: #141319 !important;                        /*"frame": "#17161c" */
  --lwt-text-color: #c3c3c3 !important;                          /*"tab_background_text": "#c3c3c3"*/
  --arrowpanel-background: #1c1b22Fa !important;                 /*"popup": "#1c1b22Fa"*/
  --arrowpanel-color: #dfdfdf !important;                        /*"popup_text": "#dfdfdf"*/
  --arrowpanel-border-color: #304f60 !important;                 /*"popup_border": "#304f60"*/
  --lwt-popup-brighttext-url-color: #00b1cc !important;          /*"color de label: No funciona este sitio?"*/
  --panel-disabled-color: #99999990 !important;                  /*"label de popup label-deshabilitado"*/
  --panel-description-color: #00dbfd !important;                 /*"Color de letras de: correo de cuenta y dispositivos conectados"*/
  --lwt-toolbar-field-background-color: #1a1b25 !important;      /*"toolbar":"#1a1b25"*/
  --lwt-toolbar-field-color: #e2e9e9 !important;                 /*"toolbar_field_text":"#e2e9e9"*/
  --lwt-toolbar-field-border-color: #363540 !important;          /*"toolbar_field_border": "#363540"*/
  --lwt-toolbar-field-focus: #1a1b25FB !important;               /*"toolbar_field_focus": "#1a1b25FB"*/
  --lwt-toolbar-field-focus-color: #e5e5e6 !important;           /*"toolbar_field_text_focus": "#e5e5e6"*/
  --toolbar-field-focus-border-color: #005F66 !important;        /*"toolbar_field_border_focus": "#005F66"*/
  --lwt-toolbar-field-highlight: #006f80 !important;             /*"toolbar_field_highlight": "#006f80"*/
  --lwt-toolbar-field-highlight-text: #eaeaea !important;        /*"toolbar_field_highlight_text": "#eaeaea"*/
  --lwt-tab-text: #ffffff !important;                            /*"tab_text": "#ffffff"*/
  --lwt-selected-tab-background-color: #363540 !important;       /*"tab_selected":"#363540"*/
  --lwt-background-tab-separator-color: #54575f !important;      /*"tab_background_separator": "#54575f"*/
  --toolbar-bgcolor: #363540 !important;                         /*"Color de la toolbar, necesario para que al cambiar de tema se mantengan los colores"*/
  --toolbar-color: #1a1b25 !important;                           /*"toolbar_field":"#1a1b25"*/
  --toolbarseparator-color: #363540 !important;                  /*"toolbar_vertical_separator": "#363540"*/
  --chrome-content-separator-color: #181818 !important;          /*"toolbar_bottom_separator": "#181818"*/
  --lwt-toolbarbutton-icon-fill: #00dbfd !important;             /*"icons" : "#00dbfd"*/
  --lwt-toolbarbutton-icon-fill-attention: #00dbfd !important;   /*"icons_attention": "#00dbfd"*/
  --toolbarbutton-icon-fill: #00dbfd !important;                 /*"icons_attention": "#00dbfd"*/
  --toolbarbutton-hover-background: #26242e !important;          /*"button_background_hover": "#26242e"*/
  --toolbarbutton-active-background: #131217 !important;         /*"button_background_active": "#131217"*/
  --autocomplete-popup-highlight-background: #006f80 !important; /*"popup_highlight": "#006f80"*/

  --toolbarbutton-inner-padding: 4px !important;
  --proton-tab-block-margin: 2px 3px !important;
  --tab-min-height:  27px !important;
  --tabs-shadow-size: 0px !important;
  --tab-border-radius: 8px 1px !important;                           
  --arrowpanel-menuitem-padding: 4px !important;
  --panel-font-size: 1.1em !important;
  --arrowpanel-padding: 0.8em !important;
  --arrowpanel-dimmed: color-mix(in srgb, #1ae0ff 35%, transparent) !important;
  --arrowpanel-dimmed-further: color-mix(in srgb, #1ae0ff 40%, transparent) !important;
  --arrowpanel-dimmed-even-further: color-mix(in srgb, #1ae0ff 45%, transparent) !important;  
  --urlbar-icon-padding: 4px !important;
}

#navigator-toolbox{--tabs-border-color: #141319 !important;}              /*"toolbar_top_separator": "#17161c"*/
#tabbrowser-tabs {--tab-line-color: #126e82 !important}                   /*"tab_line": "#126e82"*/
.browser-toolbar:not(.titlebar-color) {color: #d3d3d3 !important;}        /*"bookmark_text": "#b3d9ff"*/

/*"personalizar barra de busqueda"*/
.browserContainer > findbar:-moz-lwtheme {color: #d3d3d3 !important;}     
.findbar-find-status[status="notfound"] {color: #00dbfd !important;}
#customization-container {color: #d3d3d3 !important;}                     /*"Color de texto e iconos de "Perzonalizar barra de herramientas"*/

/*"popup_highlight"*/
.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected] {
    background-color: #017f72 !important;color: #ffffff !important}

/*"toolbar_bottom_separator"*/
#navigator-toolbox { border-bottom: 0px solid #252525 !important;}

/*"Menú con menos espacios"*/
menupopup > menuitem, menupopup > menu{ padding-block: 0.3em !important;} 

/*"Botón de cerrar pestaña"*/
.tab-close-button{margin-inline-start: -2px !important;width: 15px !important;height: 15px !important;padding: 3px !important; margin-inline-end:-6px !important; }
.tabbrowser-tab > .tab-stack > .tab-content >.tab-close-button{border-radius: 8px !important;}

/*"Medidas menores para scroll de pestañas"*/
#tabbrowser-tabs{ --uc-tabs-scrollbutton-border: 2px }
#scrollbutton-up, #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; }

/*"Íconos de la urlbar más pequeños"*/
.sharing-icon, #permissions-granted-icon, #tracking-protection-icon, .notification-anchor-icon, #blocked-permissions-container 
  > .blocked-permission-icon {  height: 14px !important; width :14px !important;}

/*"Color verde del ícono de candado de web segura"*/
#identity-icon {color: #2cf62c !important; height: 14px !important; width :14px !important;}

/*"ícono de marcadores y vista de lectura más pequeños"*/
.urlbar-icon {padding: 4px !important}

/*"Urlbar y Search-bar más pequeñas"*/
#urlbar{min-height: 26px !important; margin-block: 0px 0px!important;font-size: 1.12em !important;text-shadow: none !important;}
#urlbar-background{margin-block: 0px 0px; !important;}
#urlbar-container{margin-block: 0px -6px;}
#searchbar {min-height: 26px !important;text-shadow: none !important; font-size: 1.12em !important; margin-block: -3px !important;}

/*rework en la Linea de contenedores*/
.tab-context-line{max-width: 17px !important; max-height: 1px !important; margin-left: 8px !important;margin-bottom: -1px !important;}
.tab-context-line{-moz-box-ordinal-group: 2 !important; opacity: 1 !important;transition: none !important;}

/*Label de medios "Reproduciendo" modifiado*/
.tab-secondary-label:is([soundplaying], [pictureinpicture]) {display: -moz-box !important; margin-top:-2px !important; color:#00dbfd !important;
 font-weight: bold !important; text-shadow: 0px 0px 2px #000000 !important;}
.tab-secondary-label:is([muted], [activemedia-blocked]) {display: none}

/*ícono de sonido simpre visible en pestañas con sonido, sin dejar de mostrar el favicon*/
.tab-icon-image:not([pinned]){ opacity: 1 !important}
.tab-icon-overlay:not([pinned]){opacity: 1 !important; border-radius: 9px !important; top: -4px; inset-inline-end: -12px;z-index: 1;margin-right: 13px !important;
color: #ffffff !important; background-color: #00000040 !important; fill-opacity: 1 !important; padding: 1px !important; height: 14px !important; width: 14px !important}
.tab-icon-overlay:not([crashed])[soundplaying]:hover, .tab-icon-overlay:not([crashed])[muted]:hover, .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
background-color: white !important; color: black !important; fill-opacity: 1 !important;padding: 1px !important; height: 14px !important; width: 14px !important}

/*Regla para visualizar mejor el seleccionar varias pestañas*/
.tabbrowser-tab[multiselected]:-moz-lwtheme{border-radius: 15px 15px !important; background-color:  color-mix(in srgb, #005866 10%, transparent) !important;
    color: #33e4ff !important; --tab-line-color:#295170 !important;}

/*Color de las flechas de menús desplegables*/
#identity-popup, #permission-popup, #protections-popup, .panel-header, .subviewbutton-back, .PanelUI-subView, .subviewbutton-nav::after{ fill: aqua !important}

/*Personalización de colores y presentación de pestañas en contenedores*/
.identity-color-blue {--identity-tab-color: #2574A7 !important; --identity-icon-color: #2574A7 !important;--tab-line-color:#295170 !important;}
.identity-color-green {--identity-tab-color: #1E934F !important; --identity-icon-color: #1E934F !important;--tab-line-color:#20834b !important;}
.identity-color-orange {--identity-tab-color: #e67e22 !important; --identity-icon-color: #e67e22 !important;--tab-line-color:#a9642c !important;}
.identity-color-red {--identity-tab-color: #ff392b !important; --identity-icon-color: #ff392b !important; --tab-line-color:#cc372f !important;}
.identity-color-pink {--identity-tab-color: #ff33bb !important; --identity-icon-color: #ff33bb !important;--tab-line-color:#e22fa7 !important;}
.identity-color-purple {--identity-tab-color: #813E9D !important; --identity-icon-color: #813E9D !important;--tab-line-color:#703988 !important;}

.identity-color-blue >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #1bbfff !important;}
.identity-color-green >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #6be19c !important; } 
.identity-color-orange >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #ebc247 !important; } 
.identity-color-red >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #ff6666 !important;}
.identity-color-pink >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #ff99eb !important;} 
.identity-color-purple >.tab-stack > .tab-content:not([selected="true"]) .tab-label{color: #caa4da !important;} 

.identity-color-blue> .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #2574A7 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}
.identity-color-green .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #1E934F 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}
.identity-color-orange .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #e67e22 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}
.identity-color-red .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #a0392b 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}
.identity-color-pink .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #ff99eb 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}
.identity-color-purple .tab-stack> .tab-content[selected="true"] {background-color:color-mix(in srgb, #813E9D 7%, transparent) !important;
  border-radius:0px !important; margin-top: 3px !important; margin-bottom: 3px !important;}

/*Color al pasar el puntero por los diferentes items de menús principales*/
.protections-popup-category:hover, .protections-popup-footer-button:hover, #protections-popup-show-report-stack:hover > .protections-popup-footer-button,
  panelview .toolbarbutton-1:not([disabled], [open], :active):is(:hover), toolbarbutton.subviewbutton:not([disabled], [open], :active):is(:hover), 
 .navigable.subviewbutton:not([disabled], [open], :active):is(:hover), menu.subviewbutton:not([disabled], :active)[_moz-menuactive], 
  menuitem.subviewbutton:not([disabled], :active)[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not([disabled], [open], :active):is(:hover),
 .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open], :active):is(:hover) {
 background-color:color-mix(in srgb, #1ae0ff 25%, transparent) !important}

/*Linea de arcoiris en los menús principales*/
.PanelUI-subView > toolbarseparator {border-image: var(--panel-separator-zap-gradient) 1 !important;}
